@model IEnumerable<portfolio.Models.InvoiceRecordModel>

@{
    ViewData["Title"] = "invoiceLogs";
}

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body class="invoicetable">

<h1>invoice logs</h1>
<h1>activity logs from the java program</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImportedSuccessfully)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfInvoices)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>

            @if (item.ImportedSuccessfully == true) { <td>Yes</td> } else { <td>No</td> }

           
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfInvoices)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>

        </tr>
}

     @*TODO --- PAGINATE THIS TABLE, ADD SORTING*@
    </tbody>
</table>

    </body>
